body, html{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}

*::selection{
  background-color: transparent;
}

input::selection,
textarea::selection{
  background-color: #c5d7ff;
}

.session-card{
  /* background: red; */
  padding: 0.15rem 0.25rem;
  border-radius: 3px;
  overflow: hidden;
}

.session-card h3{
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee-title{
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  width: 90px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.employee-title img{
  flex-shrink: 0;
  margin-right: 0.3rem;
}

.employee-title span{
  flex: 1;
  margin-right: 0.35rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-reach-combobox-option][data-selected],
[data-reach-combobox-option][data-highlighted],
[data-reach-combobox-option]:hover{
  background: #ccc;
  color: black;
}